<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a routerLink="/" fragment="para1" routerLinkActive="active">Para #1</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para2" routerLinkActive="active">Para #2</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para3" routerLinkActive="active">Para #3</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para4" routerLinkActive="active">Para #4</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para5" routerLinkActive="active">Para #5</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para6" routerLinkActive="active">Para #6</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para7" routerLinkActive="active">Para #7</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para8" routerLinkActive="active">Para #8</a></h2>
  </li>
  <li>
    <h2><a routerLink="/" fragment="para9" routerLinkActive="active">Para #9</a></h2>
  </li>
</ul>
<div id='para1'>
  <h4>Para 1 Heading</h4>
  <p >This is Paragraph 1 content
  </p>
</div>
<div id='para2'>
   <h4>Para 2 Heading</h4>
   <p>This is Paragraph 2 content</p>
</div>
<div id='para3'>
    <h4>Para 3 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>

<div id='para4'>
    <h4>Para 4 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>

<div id='para5'>
    <h4>Para 5 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>

<div id='para6'>
    <h4>Para 6 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>

<div id='para7'>
    <h4>Para 7 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>

<div id='para8'>
    <h4>Para 8 Heading</h4>
    <p>This is Paragraph 3 content</p>
</div>
<div id='para9'>
    <h4>Para 9 Heading</h4>
    <p>This is Paragraph 9 content</p>
</div>


<router-outlet></router-outlet>
